* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: border-box;
    --green: #22c55e;
    --blue: #3b82f6;
    --pink: #ff004f;
    --off-white: #dad8d8;
    --white: #ffffff;
    --off-black: #080808;
    --light-gray: #ababab;
    --more-of-black: #262626;
    color: var(--off-white);

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--off-black);
}

header {
    width: 100%;
    height: 80vh;
}

.bg-image {
    width: 100%;
    height: 80vh;
    position: absolute;
    -webkit-mask-image: radial-gradient(
    circle,
    black 30%,
    transparent 100%
    );
    mask-image: radial-gradient(
        circle,
        black 30%,
        transparent 100%
    );
    z-index: -1;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.collapse-icon .background {
    fill: var(--off-black);
    opacity: 0.5;
}

.collapse-icon .arrow-group {
    fill: var(--blue);
    transform-box: fill-box;
    transform-origin: center;
    transition:
        transform 0.45s cubic-bezier(0.5, 0, 0.2, 1),
        opacity 0.4s ease;
}

.collapse-icon:hover .arrow-group,
.collapse-icon:focus-visible .arrow-group {
    transform:
        translateY(20px)
        scaleX(1.2);
    opacity: 0;
}

nav ul {
    list-style: none;
    
}

nav li {
    margin: 10px 20px;
    display: inline-block;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    position: relative;
    color: var(--off-white);

}

nav a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--blue);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: var(--blue);
}

/*------------About------------*/

#about {
    padding: 80px;
    color: var(--light-gray);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: var(--white);
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size:  18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--blue);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links:hover::after {
    width: 50%;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: var(--blue);
    
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*-------------Projects------------*/

#projects {
    padding: 30px 0;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projects-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.projects-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.projects-list h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.projects-list a {
    text-decoration: none;
    color: var(--white);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}

.projects-list div:hover {
    background: var(--blue);
    transform: translateY(-10px);
}
/*-------Portfolio----------*/

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.75),
        rgba(0,0,0,0.15),
        rgba(0,0,0,0)
    );
    z-index: 1;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 5 / 3;
}

.work img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    object-position: center top;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), var(--blue));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 1px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    z-index: 2;
}

.layer h3 {
    font-weight: 500;
    font-size: 20px;
}

.layer i {
    margin-top: 20px;
    color: var(--blue);
    text-decoration: none;
    line-height: 60px;
    font-size: 18px;
    background: var(--white);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid var(--blue);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
}

.btn:hover {
    background: var(--blue);

}

/*-------Contact----------*/

#contact {
    padding-top: 30px;
}

.contact-left {
    flex-basis: 35%;

}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: var(--blue);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;

}

.social-icons i {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--light-gray);
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover i {
    color: var(--blue);
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: var(--blue);
}

.contact-right {
    flex-basis: 60%;
}

.contact-right form {
    width: 100%;
}

.contact-right form button i {
    font-size: 15px;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: var(--more-of-black);
    padding: 15px;
    margin: 15px 0;
    color: var(--white);
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--more-of-black);
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: var(--blue);
}

/* ------------to top button------------ */

#auto-scroll {
    display: none;
}

.auto-scroll {
    position: fixed;
    background: var(--blue);
    max-width: 60px;
    max-height: 60px;
    z-index: 99;
    right: 30px;
    bottom: 30px;
    border-radius: 5px;
    padding: 5px 10px;
}

.auto-scroll i {
    color: var(--off-white);
    font-size: 35px;
}

/*------------------------- CSS for smaller screens ----------------------*/

nav .fas {
    display: none;
}

/* max-width 1080px */

@media only screen and (max-width: 1080px){
    .projects-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .work-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/* max-width 920px */

@media only screen and (max-width: 920px){
    header {
        height: 1fr;
    }
    
    .bg-image {
        height: 1fr;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }
}

/* max-width 720px */

@media only screen and (max-width: 720px){
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }
}

/* max-width 600px */

@media only screen and (max-width: 600px){    
    header {
        background-image: url(.\images\cyber-security-background-dz8qpz66ryu26ndb.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .header-text {
        margin-right: 100%;
        font-size: 16px;
    }

    .header-text p {
        color: var(--white);
    }

    .header-text h1 {
        color: var(--white);
        font-size: 30px;
    }
    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background-color: var(--blue);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;

    }

    .sub-title {
        font-size: 40px;
    }

    .container {
        padding: 0px 5%;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
        max-width: fit-content;
    }

    .tab-titles {
        flex-direction: column;
        gap: 1rem;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }
}
